div {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    box-sizing: content-box;
    height: 600px;
    width: 600px;
    margin: 100px auto;
    border: 2px solid gray;
}

.box-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 300px;
    height: 300px;
    border: 25px solid white;
}

.c {
    background-color: red;
    animation-name: flip;
    animation-duration: 5s;
    animation-timing-function: ease;
}

.y {
    background-color: yellow;
    animation-name: translate-y;
    animation-duration: 3s;
    animation-timing-function: ease;
}

.m {
    background-color: magenta;
    /* animation-name: rotate-m;
    animation-duration: 1.5s;
    animation-timing-function: ease; */
}

.k {
    background-color: black;
    /* animation-name: rotate-k;
    animation-duration: 1.5s;
    animation-timing-function: ease; */
    animation: rotate-k 1.5s ease infinite;
}

/* keyframes */

@keyframes translate-y {
    from {
      transform: translate(0px, 0px);
    }
    to {
    transform: translate(300px, 0px);
    }
}

@keyframes flip {
    25% {
        transform-origin: right;
        animation-mode: forwards;
        transform: rotateY(-180deg);
    }
    25.001% {
        transform-origin: bottom;
        transform: translateX(300px);
    }
    50% {
        transform-origin: bottom;
        transform: translateX(300px) rotateX(-180deg);
    }
    50.001% {
        transform-origin: left;
        transform: translateX(300px) translateY(300px);
    }
    75% {
        transform-origin: left;
        transform-origin: left;
        transform: translateX(300px) translateY(300px) rotateY(180deg);
    }
    75.001% {
        transform-origin: top;
        transform: translateY(300px);
    }
    100% {
        transform-origin: top;
        transform-origin: top;
        transform: translateY(300px) rotateX(180deg);
    }
}